.Wintersportgebiet {
  background-image: url(icons/Wintersportgebiet2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Buegel {
  background-image: url(icons/Buegellift2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Gondel {
  background-image: url(icons/Gondel2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Gondeli {
  background-image: url(icons/Gondeli2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Schlepplift {
  background-image: url(icons/Schlepplift2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Sessel {
  background-image: url(icons/Sessel2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Langlauf {
  background-image: url(icons/Langlauf2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Schlitten {
  background-image: url(icons/Schlitten2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Skischule {
  background-image: url(icons/Skischule2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Webcam {
  background-image: url(icons/Webcam2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Parkplatz {
  background-image: url(icons/Parkplatz2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Restaurant {
  background-image: url(icons/Restaurant2.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
