.rot1 {
  background-image: url("icons/pistennummern/rot/1_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot2 {
  background-image: url("icons/pistennummern/rot/2_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot3 {
  background-image: url("icons/pistennummern/rot/3_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot4 {
  background-image: url("icons/pistennummern/rot/4_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot5 {
  background-image: url("icons/pistennummern/rot/5_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot6 {
  background-image: url("icons/pistennummern/rot/6_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot7 {
  background-image: url("icons/pistennummern/rot/7_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot8 {
  background-image: url("icons/pistennummern/rot/8_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot9 {
  background-image: url("icons/pistennummern/rot/9_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot10 {
  background-image: url("icons/pistennummern/rot/10_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot11 {
  background-image: url("icons/pistennummern/rot/11_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot12 {
  background-image: url("icons/pistennummern/rot/12_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot13 {
  background-image: url("icons/pistennummern/rot/13_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot14 {
  background-image: url("icons/pistennummern/rot/14_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot15 {
  background-image: url("icons/pistennummern/rot/15_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot16 {
  background-image: url("icons/pistennummern/rot/16_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot17 {
  background-image: url("icons/pistennummern/rot/17_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot18 {
  background-image: url("icons/pistennummern/rot/18_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot19 {
  background-image: url("icons/pistennummern/rot/19_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot20 {
  background-image: url("icons/pistennummern/rot/20_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot21 {
  background-image: url("icons/pistennummern/rot/21_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot22 {
  background-image: url("icons/pistennummern/rot/22_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot23 {
  background-image: url("icons/pistennummern/rot/23_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot24 {
  background-image: url("icons/pistennummern/rot/24_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot25 {
  background-image: url("icons/pistennummern/rot/25_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot26 {
  background-image: url("icons/pistennummern/rot/26_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot27 {
  background-image: url("icons/pistennummern/rot/27_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot28 {
  background-image: url("icons/pistennummern/rot/28_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot29 {
  background-image: url("icons/pistennummern/rot/29_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rot30 {
  background-image: url("icons/pistennummern/rot/30_rot.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
