.blau1 {
  background-image: url(icons/pistennummern/blau/1_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau2 {
  background-image: url(icons/pistennummern/blau/2_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau3 {
  background-image: url(icons/pistennummern/blau/3_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau4 {
  background-image: url(icons/pistennummern/blau/4_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau5 {
  background-image: url(icons/pistennummern/blau/5_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau6 {
  background-image: url(icons/pistennummern/blau/6_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau7 {
  background-image: url(icons/pistennummern/blau/7_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau8 {
  background-image: url(icons/pistennummern/blau/8_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau9 {
  background-image: url(icons/pistennummern/blau/9_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau10 {
  background-image: url(icons/pistennummern/blau/10_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau11 {
  background-image: url(icons/pistennummern/blau/11_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau12 {
  background-image: url(icons/pistennummern/blau/12_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau13 {
  background-image: url(icons/pistennummern/blau/13_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau14 {
  background-image: url(icons/pistennummern/blau/14_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau15 {
  background-image: url(icons/pistennummern/blau/15_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau16 {
  background-image: url(icons/pistennummern/blau/16_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau17 {
  background-image: url(icons/pistennummern/blau/17_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau18 {
  background-image: url(icons/pistennummern/blau/18_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau19 {
  background-image: url(icons/pistennummern/blau/19_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau20 {
  background-image: url(icons/pistennummern/blau/20_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau21 {
  background-image: url(icons/pistennummern/blau/21_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau22 {
  background-image: url(icons/pistennummern/blau/22_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau23 {
  background-image: url(icons/pistennummern/blau/23_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau24 {
  background-image: url(icons/pistennummern/blau/24_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.blau25 {
  background-image: url(icons/pistennummern/blau/25_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau26 {
  background-image: url(icons/pistennummern/blau/26_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau27 {
  background-image: url(icons/pistennummern/blau/27_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau28 {
  background-image: url(icons/pistennummern/blau/28_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau29 {
  background-image: url(icons/pistennummern/blau/29_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.blau30 {
  background-image: url(icons/pistennummern/blau/30_blau.png);
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
