.schwarz1 {
  background-image: url("icons/pistennummern/schwarz/1_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz2 {
  background-image: url("icons/pistennummern/schwarz/2_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz3 {
  background-image: url("icons/pistennummern/schwarz/3_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz4 {
  background-image: url("icons/pistennummern/schwarz/4_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz5 {
  background-image: url("icons/pistennummern/schwarz/5_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz6 {
  background-image: url("icons/pistennummern/schwarz/6_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz7 {
  background-image: url("icons/pistennummern/schwarz/7_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz8 {
  background-image: url("icons/pistennummern/schwarz/8_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz9 {
  background-image: url("icons/pistennummern/schwarz/9_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz10 {
  background-image: url("icons/pistennummern/schwarz/10_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz11 {
  background-image: url("icons/pistennummern/schwarz/11_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz12 {
  background-image: url("icons/pistennummern/schwarz/12_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz13 {
  background-image: url("icons/pistennummern/schwarz/13_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz14 {
  background-image: url("icons/pistennummern/schwarz/14_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz15 {
  background-image: url("icons/pistennummern/schwarz/15_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz16 {
  background-image: url("icons/pistennummern/schwarz/16_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz17 {
  background-image: url("icons/pistennummern/schwarz/17_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz18 {
  background-image: url("icons/pistennummern/schwarz/18_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz19 {
  background-image: url("icons/pistennummern/schwarz/19_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz20 {
  background-image: url("icons/pistennummern/schwarz/20_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz21 {
  background-image: url("icons/pistennummern/schwarz/21_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz22 {
  background-image: url("icons/pistennummern/schwarz/22_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz23 {
  background-image: url("icons/pistennummern/schwarz/23_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz24 {
  background-image: url("icons/pistennummern/schwarz/24_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz25 {
  background-image: url("icons/pistennummern/schwarz/25_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz26 {
  background-image: url("icons/pistennummern/schwarz/26_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz27 {
  background-image: url("icons/pistennummern/schwarz/27_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz28 {
  background-image: url("icons/pistennummern/schwarz/28_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz29 {
  background-image: url("icons/pistennummern/schwarz/29_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.schwarz30 {
  background-image: url("icons/pistennummern/schwarz/30_schwarz.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
